# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Python
.venv/

# OS and IDE specific files
.DS_Store
Thumbs.db
ehcache*
hsperfdata*

# Secrets
.env

# Documentation
Documentation/

# Subprojects
../dashboard-web
../scala_big_data_core